/* GENERAL STYLES */

html {
    box-sizing: border-box; /*adding padding to elements won't affect final width */
}

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3;
    text-align: left;
    margin: 0;
    background-color: hsl(204, 43%, 93%);
}

h2, h3, h4 {
    font-weight: 700;
    margin-top: 0;
}

h2 {
    font-size: 1.25rem; /*20px*/
    color: hsl(179, 62%, 43%);
    margin-bottom: 24px;
}

h3 {
    font-size: 1.125rem; /*18px*/
    margin-bottom: 18px;
}

h4 {
    font-size: 0.9375rem; /*15px*/
    line-height: 1.33;
    color: hsl(71, 73%, 54%);
    margin-bottom: 18px;
}

p {
    margin: 0;
    color:hsl(218, 22%, 67%);
    font-size: 0.875rem; /*14px*/
    line-height: 1.75;
}

a {
    text-decoration: none;
}

.padding {
    padding: 25px;
}

.container {
    display: flex;
    flex-flow: column;
    width: 311px;
    margin: 72px auto;
    border-radius: 5px;
    overflow: hidden;
    filter: drop-shadow(0 10px 10px lightGrey);
}

.join {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 36px;
}

.subscription {
    background-color: #2BB3B1;
    color: #fff;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.price__dollar {
    font-size: 1.875rem; /*30px*/
    font-weight: 700;
    padding-right: 0.9375rem; /*15px*/
}

.price__permonth {
    font-size: 0.9375rem; /*15px*/
    opacity: 0.7;
}

.access {
    font-size: 0.9375rem; /*15px*/
    margin-bottom: 28px;
}

input[type=button] {
    color: #fff;
    background-color: hsl(71, 73%, 54%);
    border: none;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    width: 100%;
    padding: 14px 0;
    border-radius: 5px;
    filter: drop-shadow(0 10px 10px #26A2A0);
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

input[type=button]:hover {
    background-color: hsl(71, 67%, 49%);
}

.why {
    background-color: #4ABEBD;
    color: #fff;
}

.why ul {
    font-size: 0.875rem; /*14px*/
    line-height: 1.5;
    list-style-type: none;
    margin: 0;
    padding: 0;
    opacity: 0.7;
}
/*
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
*/

/* DESKTOP STYLES */

@media (min-width: 900px) {

    h2 {
        font-size: 1.4375rem; /*23px*/
    }

    h4 {
        font-size: 1.125rem; /*18px*/
        margin-bottom: 14px;
    }

    p {
        font-size: 1rem; /*16px*/
    }

    .padding {
        padding: 40px;
    }

    .container {
        width: 634px;
        flex-flow: row wrap;
        margin-top: 0;
        margin-bottom: 0;
        border-radius: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    .join {
        width: 100%;
        box-sizing: border-box;
    }

    .subscription {
        width: 50%;
        box-sizing: border-box;
    }

    .why {
        width: 50%;
        box-sizing: border-box;
    }
/*
    footer {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%, 0);
    }
*/
}
